// Colors
$theme-color: #4ca1da;
$party-color: #729B79;

// Fonts
$primary-font: Nunito;
$secondary-font: Nunito;

// Rounding
$primary-rounding: 32px;
$secondary-rounding: 8px;

// Safe area
$safe-area-x: 64px;
$safe-area-y: 64px;
