// Colors
$theme-color: #ffffff;

// Fonts
$primary-font: Poppins;
$secondary-font: Poppins;

// Rounding
$primary-rounding: 32px;
$secondary-rounding: 8px;

// Safe area
$safe-area-x: 64px;
$safe-area-y: 64px;
