@import "/UI/Theme.scss";

InteractionMenu {
  left: $safe-area-x;
  position: absolute;
  align-self: center;
  opacity: 1;

  &.hide {
    opacity: 0;
  }

  .name {
    font-size: 32px;
  }

  .glyph {
    margin-right: 8px;
  }

  .canvas {
    padding: 16px;
    border-radius: $secondary-rounding;
    background-image: linear-gradient( to left, rgba($theme-color, 0) 0%, rgba($theme-color, 0.1) 10%, rgba($theme-color, 1) 100% );
    flex-direction: column;

    .interaction-entry {
      transition: transform 0.05s ease;
      font-size: 24px;
      color: lightgray;
      font-family: $primary-font;
      font-weight: bold;
      text-shadow: 0px 0px 2px 20px rgba(black, 1);
      transform: scale(0.8);

      &.active-interaction {
        transform: scale(1);
        color: white;
        font-size: 24px;
      }

      &:hover {
        color: lightgray;
      }
    }
  }
}
