@import "/UI/Theme.scss";

InteractionMenu {
  left: $safe-area-x;
  position: absolute;
  align-self: center;
  opacity: 1;

  &.hide {
    opacity: 0;
  }

  .name {
    font-size: 32px;
  }

  .container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
  }

  .glyph {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 8px;
  }

  .control-area {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .control {
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 16px;
    background-image-tint: rgb( 128, 128, 128 );
    opacity: 1;

    &.up {
      background-image: url( /ui/interaction/option_up.png );
    }

    &.down {
      background-image: url( /ui/interaction/option_down.png );
    }

    &.active {
      background-image-tint: #ffffff;
    }

    &.hide {
      opacity: 0;
    }
  }

  .canvas {
    height: 100%;
    border-radius: $secondary-rounding;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
