PartyLobby {
	margin: 10px;
	position: absolute;
	width: 100%;

	.PartyList {
		width: 300px;
		flex-direction: column;
		opacity: 0;
		transform: scale(0);
		position: absolute;

		&.InParty {
			opacity: 1;
			transform: scale(1);
			position: relative;
		}

		&.Control {
			pointer-events: all;

			&.IsHost :not(.LocalMember) .KickButton.OnlyHost {
				display: flex;
			}
		}

		&:not(.Control) {
			.KickButton {
				display: none;
			}

			.leave {
				display: none;
			}
		}
	}
}

PartyMember {
	width: 100%;
	height: 50px;
	background-color: rgb(76, 161, 218);
	margin: 10px;
	border-radius: 10px;
	align-items: center;

	.Avatar {
		width: 32px;
		height: 32px;
		min-height: 32px;
		border-radius: 100px;
		margin: 5px;
		border: 1px solid rgb(0, 255, 255);
	}

	.Name {
		color: rgb(255, 255, 255);
		font-size: 30px;
		flex-grow: 1;
		align-items: center;
	}

	.KickButton {
		width: 30px;
		height: 30px;
		color: rgb(255, 0, 0);
		border-radius: 100px;
		background-color: rgba(255, 255, 255, 0.247);
		margin: 5px;
		align-items: center;
		justify-content: center;
		font-size: 25px;
		font-family: MaterialIcons;
		display: none;
	}

	&.LocalMember .Leave {
		width: 30px;
		height: 30px;
		color: rgb(255, 0, 0);
		border-radius: 100px;
		background-color: rgba(255, 255, 255, 0.247);
		margin: 5px;
		align-items: center;
		justify-content: center;
		font-size: 25px;
		font-family: MaterialIcons;
		display: flex;
	}
}

.InviteList {
	flex-direction: column;

	.InviteScreen {
		transition: all 0.1s ease-out;
		transform: scale(1) translateX(0);
		&:intro {
			max-height: 0px;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			opacity: 0;
			transform: scale(0) translateX(100%);
		}

		&:outro {
			opacity: 0;
			transition: all 0.5s ease-out;
			transform: scale(0) translateX(100%);
			position: absolute;
		}
		margin: 10px;
		margin-left: 20px;
		border-radius: 10px;
		width: 400px;
		height: 50px;
		background-color: rgb(55, 133, 185);
		align-items: center;
		justify-content: center;

		.Buttons {
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex-grow: 0;
			margin: 10px;
			color: white;
		}

		.InviteMiddle {
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex-grow: 1;

			.InviteText {
				width: 100%;
				height: 20px;
				font-size: 15px;
				color: white;
				text-align: center;
				margin: 5px;
			}

			.InviteBar {
				width: 60%;
				height: 15px;
				margin-bottom: 5px;
				background-color: rgb(47, 114, 158);
				border-radius: 10px;
				opacity: 1;
				transition: all 0.1s ease-out;

				.Bar {
					height: 100%;
					border-radius: 10px;
					background-color: rgb(111, 221, 255);
				}

				&.Hide {
					opacity: 0;
				}
			}
		}
	}
}
